@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
}

/*Creamos unos estilos para todos los hijos del body*/

.cuerpo_contenedor > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.cabecera {
  grid-area: cabecera;
  background-color: #d3d3d3;
}

.navega {
  grid-area: navega;
  background-color: #d3d3d3;
}

.barra {
  grid-area: barra;
  background-color: #d3d3d3;
}

.skynet {
  grid-area: skynet;
  background-color: #f5f5f5;
}

.pie {
  grid-area: pie;
  background-color: #8c96a0;
}

/*Diseño responsive para telefonos*/
.cuerpo_contenedor {
  display: grid;
  /*separamos elementos 10 pixeles*/
  gap: 10px;

  /*Creamos las areas que tendrá nuestro grid*/
  grid-template-areas:
    "cabecera" 100px
    "navega" 50px
    "skynet" auto
    "barra" 100px
    "pie" 100px;
}

/*Hacemos una media query para el diseño responsive en vista de  tablet*/

@media (min-width: 600px) {
  .cuerpo_contenedor {
    grid-template:
      "cabecera  cabecera" 100px
      "navega  navega" 50px
      "barra skynet" auto
      "pie  pie" 100px /
      200px auto;
  }
}

@media (min-width: 900px) {
  .cuerpo_contenedor {
    grid-template:
      "cabecera  cabecera cabecera" 100px
      "navega  skynet barra" auto
      "pie  pie pie" 100px /
      200px auto 200px;
  }
}

.divbar {
  margin-left: 15px;
  text-align: left;
}
.tabla {
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  margin-bottom: auto;
}

.botpers {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4682b4;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4), 0 9px 26px 0 rgba(0, 0, 0, 0.38);
}
.botafil {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #2e8b57;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4), 0 9px 26px 0 rgba(0, 0, 0, 0.38);
}

.botpers:hover {
  background-color: #151616;
}

.botpers:active {
  background-color: #fc0a0a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.botafil:hover {
  background-color: #101110;
}

.botafil:active {
  background-color: #fc0a0a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.boton-padding {
  padding: 8px 16px !important;
}
.boton-afiliado1 {
  color: #000 !important;
}
.boton-afiliado2 {
  color: #fff !important;
  background-color: #000 !important;
}

.saddiv {
  background-color: #ff2929;
  padding: 25px;
  width: 500px;
  border: black solid;
}

.perdiv {
  background-color: #87cefa;
  padding: 25px;
  width: 500px;
  border: black solid;
}
.afidiv {
  background-color: #90ee90;
  padding: 25px;
  width: 500px;
  border: black solid;
}

.bot {
  padding: 5px;
}

.ultima_fila input {
  width: 100%;
}
.ultima_fila select {
  width: 100%;
}
.primera_fila {
  border: solid thin;
}

.estilo_tabla {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  font-size: medium;
  background-color: #000000;
  box-shadow: 0px 10px 10px black;
  border: solid thin;
}
.estilo_cab_tabla_2 {
  background-color: #fb8c00;
  border: solid thin;
}
.estilo_subcab_tabla_2 {
  background-color: #ffb74d;
  border: solid thin;
}
.estilo_cab_tabla {
  background-color: #87cefa;
  border: solid thin;
}
.estilo_subcab_tabla {
  background-color: #add8e6;
  border: solid thin;
}
.estilo_fila1_tabla {
  background-color: #c0c0c0;
  border: solid thin;
}
.estilo_fila2_tabla {
  background-color: #f8f8ff;
  border: solid thin;
}
.estilo_fila1_tabla td {
  padding: 3px;
}
.estilo_fila2_tabla td {
  padding: 3px;
}
.estilo_bottom_tabla {
  background-color: #708090;
  border: solid thin;
}

.enlace_sidebar {
  color: black;
  font-size: 16px;
}
.enlace_sidebar:hover {
  color: #059862;
}
.li_sidebar {
  padding-top: 10px;
}
.li_nav1 {
  font-size: 16px;
  padding-top: 10px;
  list-style-type: none;
  text-align: left;
}
.li_nav2 {
  font-size: 16px;
  list-style-type: none;
  text-align: left;
}

/* Bootstrap login */

.login-center {
  margin: auto;
}
.login-container {
  margin-top: 5%;
  margin-bottom: 5%;
}
.login-form-1 {
  border-radius: 25px;
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
}
.login-form-1 h3 {
  text-align: center;
  color: #333;
}
.login-form-3 {
  border-radius: 25px;
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
}
.login-form-3 h3 {
  text-align: center;
  color: #333;
}
.login-form-2 {
  border-radius: 25px;
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
  background-color: #fff;
}
.login-form-2 h3 {
  text-align: center;
  color: #333;
}
.login-container form {
  /*padding: 10%;*/
}
.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
.login-form-1 .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #27ae60;
}
.login-form-2 .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #5499c7;
}
.login-form-3 .btnSubmit {
  font-weight: 600;
  color: #fff;
  background-color: #dc7633;
}
.login-form-2 .ForgetPwd {
  color: #5499c7;
  font-weight: 600;
  text-decoration: none;
}
.login-form-1 .ForgetPwd {
  color: #27ae60;
  font-weight: 600;
  text-decoration: none;
}
.login-form-3 .ForgetPwd {
  color: #dc7633;
  font-weight: 600;
  text-decoration: none;
}
.form-margin-top {
  margin-top: 25px;
}

.user-login {
  float: right;
}

.user-logout {
  width: 20px;
  height: 20px;
}
.afil-center {
  margin: auto;
  width: 90%;
}
.afil-container {
  margin-top: 23%;
  width: 100%;
}
.afil-form-1 {
  float: left;
  margin: 10px;
  border-radius: 25px;
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4), 0 9px 26px 0 rgba(0, 0, 0, 0.38);
  background-color: #66bb6a;
}
.afil-form-2 {
  margin-top: 50px;
  float: right;
  border-radius: 25px;
  padding: 5%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4), 0 9px 26px 0 rgba(0, 0, 0, 0.38);
  background-color: #66bb6a;
}
.btn-logout {
  padding: 0.15rem 0.3rem !important;
  line-height: 0.5 !important;
}
.btn-logout-sadmin {
  padding: 0.15rem 0.3rem !important;
  line-height: 0.5 !important;
  background-color: #f57c00 !important;
  border-color: #f57c00 !important;
}

@media (max-width: 1255px) {
  .user-login-block {
    background-color: #abc;
    border-radius: 25px;
    font-size: x-small;
    border: solid thin;
    padding: 4px;
    box-shadow: 4px 3px #aaa;
    display: block;
  }
}
@media (min-width: 1256px) {
  .user-login-block {
    background-color: #abc;
    border-radius: 25px;
    font-size: small;
    border: solid thin;
    padding: 4px;
    box-shadow: 4px 3px #aaa;
    display: block;
  }
}
.user-login-cell {
  padding: 2px;
}
.bg-personas {
  /*100% 50% no-repeat top center*/
  background-image: url("../IMAGENES/personas2.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 70%;
}
.link-afiliados {
  background-color: burlywood;
  border-radius: 25px;
  padding: 5px;
  float: right;
}
/*Carrusel calendarios*/

.tabs {
  width: 87%;
  margin: 50px auto;
}

nav > .nav.nav-tabs {
  border: none;
  color: #fff;
  background: #272e38;
  border-radius: 0;
}
nav > div a.nav-item.nav-link,
nav > div a.nav-item.nav-link.active {
  border: none;
  padding: 18px 25px;
  color: #fff;
  background: #272e38;
  border-radius: 0;
}

nav > div a.nav-item.nav-link.active:after {
  content: "";
  position: relative;
  bottom: -60px;
  left: -10%;
  border: 15px solid transparent;
  border-top-color: #66bb6a;
}
.tab-content {
  background: #fdfdfd;
  line-height: 25px;
  border: 1px solid #ddd;
  border-top: 5px solid #66bb6a;
  border-bottom: 5px solid #66bb6a;
  padding: 30px 25px;
}

nav > div a.nav-item.nav-link:hover,
nav > div a.nav-item.nav-link:focus {
  border: none;
  background: #66bb6a;
  color: #fff;
  border-radius: 0;
  transition: background 0.2s linear;
}

.lista-normal {
  list-style-type: none;
}
